body {
    margin: 0;
    padding: 0;
    background-image: url('background_img.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Hier kannst du zusätzliche Stile hinzufügen, um den Text lesbarer zu machen */
}
h1 {
    color: #333;
    text-align: center;
}
.container {
    background-color: rgba(255, 255, 255, 0.4); /* Weiß mit 80% Transparenz */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%; /* Begrenze die Breite auf 40% des Bildschirms */
    max-width: 600px; /* Setze ein maximales Breitenlimit, um zu verhindern, dass der Container zu breit wird */
}
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #0056b3;
}

        
